:root{
  /*psudo elemento : */
  /* ej hover, active, visited*/
  /**establecer reglas pre determinadas y variables para usar en la hoja de estilo*/
  margin: 0px;
  /* para definir variables se empieza con --*/
  --line-color: rgb(150, 145, 145);
  --principal-color: green;
}
header{
    border-bottom: 1px solid  var(--line-color);
  }  
  
body{
  accent-color:var(--principal-color); 
}
#add:hover{
  background-color: var(--principal-color) !important;
  color: white;
}

.fa-arrow-up-right-from-square:hover{
  background-color: var(--principal-color) !important;
  color: white;
}

.fa-heart:hover{
  background-color: var(--principal-color) !important;
  color: white;
}
.fa-star{
  color: yellow;
}
.fa-star-half-stroke{
  color: yellow;
}
#colors{
  border-bottom: 1px solid var(--line-color);
}
#money{
  color: var(--principal-color);
 
}
.card {
  border: none;
}
.pagination{
 
  align-items: center;
}
#image{

  margin: 10% 10% 10% 10%;
}

.size-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
.nav-link {
  font-weight: bold;
}
.nav-link:hover{
  
  color: var(--principal-color)!important;
}
.line{
  border-bottom: 1px solid var(--line-color);
}
.my-3 {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}
.text-center {
  text-align: center!important;
}
.border-buttom {
  border: 1px solid var(--line-color);
}
.btn{
  border: 1px solid var(--line-color);
}
.px-0 {
  padding-right: 0!important;
  padding-left: 0!important;
}

.social-media-container i {
  margin-right: 2rem;
  cursor: pointer;
}
.my-1 {
  margin-top: 0.25rem!important;
  margin-bottom: 0.25rem!important;
}

.list-group-item{
  border: none;
  padding-left: 0;
}
#menu-active a{
  color: var(--principal-color);
  text-decoration: none;
}
#dropdownMenuLink, #btnMenu, #dropdownMenuButton1{
  border: none;
  background-color: white;
}

